<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 *ngIf="perfil">¡Hola, {{ perfil.nombre }}!</h2>
  <p *ngIf="perfil">Rol: {{ perfil.rol }}</p>

  <ng-container *ngIf="perfil?.rol === 'dueño' || perfil?.rol === 'supervisor'">
    <ion-button expand="block" routerLink="/empleados/alta">Agregar empleado</ion-button>
    <ion-button expand="block" routerLink="/clientes/pendientes">Ver clientes pendientes</ion-button>
  </ng-container>

  <ng-container *ngIf="perfil?.rol === 'metre'">
    <ion-button expand="block" routerLink="/clientes/registro">Crear cliente</ion-button>
  </ng-container>

  <!-- ===== Módulo 2 - Catálogo, Mesas y Sectores (Tobi) ===== -->
  <ng-container *ngIf="perfil?.rol === 'dueño' || perfil?.rol === 'supervisor'">
    <ion-button expand="block" routerLink="/catalogo/mesas/alta">Agregar mesa</ion-button>
  </ng-container>

  <ng-container *ngIf="perfil?.rol === 'cocinero'">
    <ion-button expand="block" routerLink="/catalogo/platos/alta">Cargar plato</ion-button>
    <ion-button expand="block" routerLink="/catalogo/cocina">Cocina</ion-button>
  </ng-container>

  <ng-container *ngIf="perfil?.rol === 'cantinero'">
    <ion-button expand="block" routerLink="/catalogo/bebidas/alta">Cargar bebida</ion-button>
    <ion-button expand="block" routerLink="/catalogo/bar">Bar</ion-button>
  </ng-container>
  <!-- ===== fin Módulo 2 ===== -->

  <ion-button expand="block" fill="clear" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>