<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 *ngIf="perfil">¡Hola, {{ perfil.nombre }}!</h2>
  <p *ngIf="perfil">Rol: {{ perfil.rol }}</p>

  <ng-container *ngIf="perfil?.rol === 'dueño' || perfil?.rol === 'supervisor'">
    <ion-button expand="block" routerLink="/empleados/alta">Agregar empleado</ion-button>
    <ion-button expand="block" routerLink="/clientes/pendientes">Ver clientes pendientes</ion-button>
  </ng-container>

  <ion-button expand="block" fill="clear" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>